@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро дошли на Е-Учионицу!</h1>
    <p>Погледајте/измените постојећу листу <a href="/PredmetPage/Predmeti">предмета</a>.</p>
    <p>Погледајте/измените постојећу листу <a href="/OblastPage/Oblasti">подобласти предмета</a>.</p>
    <p>Погледајте/измените постојећу листу <a href="/PitanjePage/Pitanja">питања</a>.</p>
    <p>Ако желите проверити своје знање, започните <a href="/TestPage/Test">тест</a>.</p>

</div>
